// $color-brand-50:#F9F5FF;
// $color-brand-100:#F4EBFF;
// $color-brand-200:
$color-brand-500: #9e77ed;
// $color-brand-600:
$color-brand-700: #6941c6;
// $color-brand-800:
$color-brand-900: #7244c8;

/* Greys */
// $color-grey-0:
// $color-grey-50:
$color-grey-100: #f2f4f7;
$color-grey-150: #f9fafb;

$color-grey-200: #eaecf0;
$color-grey-300: #d0d5dd;
// $color-grey-400: #9ca3af;
$color-grey-500: #667085;
$color-grey-600: #475467;
$color-grey-700: #344054;
// $color-grey-800:
$color-grey-900: #101828;
// $color-grey-1000:

// $color-green-100: #dcfce7;
$color-green-700: #12b76a;

$backdrop-color: rgba(255, 255, 255, 0.1);

$shadow-sm: 0px 1px 2px 0px #1018280d;

$border-radius-md: 8px;

$padding-input: 10px 14px 10px 14px;
