@import '../../../assets/scss/variables';

.btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  &--primary {
    background-color: $color-brand-900;
    width: 100%;
    padding: 1rem 1.8rem 1rem 1.8rem;
    border-radius: $border-radius-md;
    color: #fff;
    box-shadow: $shadow-sm;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &--secondary {
    color: $color-brand-700;
    // width: 100%;
    // padding: 1rem 1.8rem 1rem 1.8rem;
    // border-radius: $border-radius-md;
    // color: #fff;
    // box-shadow: $shadow-sm;
    font-weight: 600;
    font-size: 1.4rem;
  }
}
