@import '../../../assets/scss/variables';

.input-container {
  text-align: left;
  position: relative;
}

.input {
  font-size: 1.6rem;
  color: $color-grey-700;
  line-height: 1.5;
  font-weight: 400;
  border-radius: $border-radius-md;
  border: 1px solid $color-grey-300;
  box-shadow: $shadow-sm;
  padding: $padding-input;
  background-color: $color-grey-150;
  width: 100%;
  &--prefix {
    padding: 10px 14px 10px 6.4rem;
  }
  &--suffix {
    padding: 1rem 6.4rem 1rem 1.4rem;
  }
}
::placeholder {
  font-size: 1.6rem;
  color: $color-grey-500;
  line-height: 1.5;
  font-weight: 400;
}
.label {
  display: block;
  font-size: 1.4rem;
  line-height: 1;
  margin-bottom: 0.6rem;
  color: $color-grey-700;
  font-weight: 500;
}
.input-prefix {
  position: absolute;
}
.input-suffix {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-29%);
  background-color: #fff;
  border: 1px solid $color-grey-300;
  height: 4.5rem;
  box-shadow: $shadow-sm;
  border-radius: 0 8px 8px 0;
  padding: 10px 16px 10px 16px;
  width: 32.5%;
}
