@import '../../assets/scss/variables';

.container {
  min-width: 144rem;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 80% 10%;
  position: relative;
}
.arrow {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-47%);
}

.header {
  padding: 1.8rem 3.2rem;
  display: flex;
  align-items: center;
  &-logo {
    display: flex;
    align-items: center;
    img {
      line-height: 1;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressbar {
  width: 69.6rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.1rem;
  &::before {
    content: '';
    height: 2px;
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    width: 95%;
    background-color: $color-grey-200;
  }
  &__progress-step {
    z-index: 9;
    position: relative;
    display: flex;
    &__description {
      position: absolute;
      width: max-content;
      top: 4.8rem;
      text-align: center;
      left: 50%;
      transform: translateX(-50%);

      &--main {
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 2rem;
        &--active {
          color: $color-brand-900;
        }
        &--confirmed {
          color: $color-green-700;
        }
      }
      &--sub {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2rem;
        color: #344054;
      }
    }
    &--active {
      background-color: $color-grey-100;
      padding: 6px;
      border-radius: 999px;
    }
    &--activeable-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 24px;
      width: 24px;
      border-radius: 9999px;
      background-color: $color-grey-100;
      &__white-circle {
        height: 8px;
        width: 8px;
        border-radius: 999px;
        background-color: #fff;
      }
    }
    &--activeable-circle--active {
      background-color: $color-brand-900;
    }
  }
}

.form-steps {
  margin-bottom: 9.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 69.6rem;
}

.confirmed-icon {
  padding: 6px;
  z-index: 99;
  border-left: 2px solid #fff;
  position: relative;
  border: none;
}
