@import '../../../../assets/scss/variables';

.input-suffix__container {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 2rem;
}

.antd-Select {
  width: 100%;
  border-radius: $border-radius-md;
  height: 4.4rem;
  border: 1px solid $color-grey-300;
  .ant-select-selection-item {
    color: $color-grey-900;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .ant-select-selector {
    &:hover {
      border: 1px solid $color-grey-300 !important;
    }
    &:focus-visible {
      border: 1px solid $color-grey-300 !important;
    }
    &:focus-within {
      border: 1px solid $color-grey-300 !important;
    }
  }
  &:hover {
    border: 1px solid $color-grey-300;
  }
  &:focus-visible {
    border: 1px solid $color-grey-300;
  }
  &:focus-within {
    border: 1px solid $color-grey-300;
  }
}

.select {
  &__container {
  }
  &__label {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    color: $color-grey-700;
  }
  &__fashion-para {
    font-size: 1.4rem;
    font-weight: 400;
    color: $color-grey-600;
  }
}
.form__store-information {
  width: 40rem;
  margin-bottom: 3.2rem;
}
